canvas{
  /*float: right;*/

}
#grid{
  margin: -15px;
}
#sideBar{
  background-color: ;
}

.col-md-2{
  background-color: grey;
  margin: 0;

}

.container {
  margin: 0 0 0 20px;
  padding: 0;
}

.palette{
  font-size: 30px;
}
